upstream backend {
	server tuffix-vm:5000 weight=1;
	server tuffix-vm:5001 weight=1;
	server tuffix-vm:5002 weight=1;
}

upstream userbackend {
	server 127.0.0.1:5100;
}

server {
    listen 80;
    listen [::]:80;

    server_name tuffix-vm;

    location / {
	auth_request /auth;
	proxy_pass http://backend;
    }

	location = /auth {
		internal;
		proxy_pass http://userbackend/user/login;
		proxy_method POST;
		proxy_pass_header Authorization;
		proxy_set_header Authorization $http_authorization;
	}

	location /register {
		proxy_pass http://userbackend/user/register;
	}
}
